html {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient( #66c5ea 0%, #4b51a2 100%);
    color: #fff;
    font-family: sans-serif;
    margin: auto;
    padding: 1rem;
    max-width: 1000px;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

.location {
    display: flex;
    align-items: center;
    gap: 10px;
}

.location i {
    font-size: 20px;
    color: white;
}

h1 {
    font-size: clamp(1.8rem, 5vw, 32px);
}

img {
    max-width: 100%;
    height: auto;
}

.location-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.my-location-btn, .change-location-btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.current-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}

.current-weather img {
    width: 150px;
    height: 150px;
}

.current-weather h1 {
    font-size: 64px;
    margin: 10px 0 0 0;
    font-weight: normal;
}

.hourly {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #4b51a2;
    width: 80%;
    border-radius: 30px;
    margin: 50px auto;
    padding-bottom: 20px;
}

.hourly-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.hourly-header h2 {
    font-size: clamp(1rem, 4vw, 24px);
}

.hours {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    overflow: auto;
    padding: 0 20px;
}

.hours h2 {
    font-size: clamp(1rem, 4vw, 24px);
    font-weight: normal;
    white-space: nowrap;
}

.hour {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hour img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.forecast {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    width: 80%;
    background-color: #4b51a2;
    border-radius: 30px;
    flex-direction: column;
    padding-bottom: 20px;
}

.forecast-title {
    font-size: clamp(1rem, 4vw, 24px);
    margin-left: 20px;
    width: 100px;
}

.days {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
}

.day {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.day h2 {
    width: 60px;
    text-align: center;
    font-size: clamp(1rem, 4vw, 24px);
    font-weight: normal;
}

.day img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.temps {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 90px;
}

.small {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.humidity, .wind {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    background-color: #4b51a2;
    border-radius: 30px;
    flex-direction: column;
}

.humidity-info, .wind-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.humidity-title, .wind-title{
    font-size: clamp(1rem, 4vw, 24px);
    font-weight: normal;
}

.humidity-info i, .wind-info i {
    font-size: 25px;
    color: white;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        gap: 2rem;
    }

    .hours {
        display: flex;
        gap: 1rem;
        overflow-x: auto;
        padding-bottom: 10px;
    }

    .hour {
        min-width: 70px;
        flex-shrink: 0;
    }

    .days {
        grid-template-rows: repeat(2, 1fr);
    }

    
}

@media (max-width: 900px) {
    .header {
        flex-direction: column;
        gap: 1rem;
    }

    .location-btns {
        flex-direction: row;
        gap: 10px;
    }

    h2 {
        font-size: 36px;
    }
}