body {
    background: linear-gradient( #66c5ea 0%, #4b51a2 100%);
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    padding: 20px;
    max-width: 412px;
}

.location {
    display: flex;
    align-items: center;
    gap: 10px;
}

.location i {
    font-size: 20px;
    color: white;
}

.location h1 {
    font-size: 24px;
    margin: 0;
    font-weight: normal;
}

.location-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.my-location-btn, .change-location-btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

.current-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}

.current-weather img {
    width: 100px;
    height: 100px;
}

.current-weather h1 {
    font-size: 64px;
    margin: 10px 0 0 0;
    font-weight: normal;
}

.hourly {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: #4b51a2;
    width: 80%;
    border-radius: 30px;
    margin: 50px auto;
    max-width: 330px;
    padding-bottom: 20px;
}

.hourly-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.hours {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    overflow: auto;
    padding: 0 20px;
}

.hours h2 {
    font-size: 18px;
    font-weight: normal;
    white-space: nowrap;
}

.hour {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hour img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.forecast {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    width: 80%;
    background-color: #4b51a2;
    border-radius: 30px;
    flex-direction: column;
    max-width: 330px;
    padding-bottom: 20px;
}

.forecast-title {
    font-size: 24px;
    margin-left: 20px;
    width: 100px;
}

.days {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.day h2 {
    font-size: 18px;
    font-weight: normal;
}

.day {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
}

.day h2 {
    width: 60px;
    text-align: center;
}

.day img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.temps {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 90px;
}

.small {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 50px;
    max-width: 330px;
}

.humidity, .wind {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    background-color: #4b51a2;
    border-radius: 30px;
    flex-direction: column;
}

.humidity-info, .wind-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.humidity-info i, .wind-info i {
    font-size: 25px;
    color: white;
}