body {
    background: linear-gradient( #66c5ea 0%, #4b51a2 100%);
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    
}

.location {
    display: flex;
    align-items: center;
    gap: 10px;
}

.location i {
    font-size: 20px;
    color: white;
}

.location h1 {
    font-size: 24px;
    margin: 0;
    font-weight: normal;
}

.current-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}

.current-weather img {
    width: 100px;
    height: 100px;
}

.current-weather h1 {
    font-size: 64px;
    margin: 10px 0 0 0;
    font-weight: normal;
}

.forecast {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    width: 70%;
    background-color: #4b51a2;
    border-radius: 10px;
    flex-direction: column;
}

.forecast-title {
    font-size: 24px;
    padding-left: 20px;
}

.day h2 {
    font-size: 18px;
    font-weight: normal;
}

.day {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.day h2 {
    width: 30px;
}

.day img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.temps {
    display: flex;
    gap: 10px;
}